{% if type == "danger" %}
    {% set color = "bg-red-400" -%}
    {% set icon = "fa-bell" -%}
{% elif type == "info" %}
    {% set color = "bg-green-400" -%}
    {% set icon = "fa-lightbulb" -%}
{% endif %}
<div class="{{color}} grid grid-cols-5 grid-flow-col items-center p-8 gap-x-8 border-2 rounded-2xl border-slate-700 border-dashed my-8">
    <i class="fa-solid {{icon}} text-8xl col-start-1 justify-self-center mix-blend-exclusion"></i>
    <i class="text-xl col-start-2 col-span-4">
        {{ body }}
    </i>
  </div>