{% extends "base.html" %} {% block content %}

<!---------------------------------------------------------->
<!-------------------------- HERO -------------------------->
<!---------------------------------------------------------->
<div class="container mx-auto h-screen">
  <div class="h-full flex flex-col">
    <!-- empty block -->
    <div class="basis-1/4"></div>

    <!-- profile signature -->
    <div class="basis-1/4 flex flex-col justify-center items-center select-none">
      <p class="text-slate-700 font-cursive font-bold antialiased text-9xl text-center">Allen Pocket</p>
      <p class="text-slate-500 font-cursive font-extralight antialiased text-6xl text-center">
        focus on game / blockchain
      </p>
    </div>

    <!-- github button -->
    <div class="basis-1/4 flex justify-center items-center select-none">
      <a
        class="text-green-100 text-6xl font-cursive font-extralight px-10 py-3 rounded-lg antialiased inline-flex items-center gap-x-4 transition ease-in-out bg-[#91c483] shadow-[0_5px_6px_rgba(0,0,0,0.25)] hover:shadow-[0_2px_2px_rgba(0,0,0,0.25)] hover:translate-y-1"
        href="https://github.com/AllenPocketGamer"
      >
        <i class="fa-brands fa-github-alt"></i>
        <span>GITHUB</span>
      </a>
    </div>
  </div>
</div>

<div class="max-w-4xl container mx-auto rounded-md py-12 px-6 min-h-screen">
  <ul class="flex flex-col md:grid md:grid-cols-3 gap-12 text-slate-700">
    {% for page in section.pages %}
    <li
      class="flex flex-col rounded-xl shadow-[0_5px_6px_rgba(0,0,0,0.25)] transition ease-in-out hover:-translate-y-4 hover:shadow-[0_5px_24px_rgba(0,0,0,0.25)] duration-200
      border-2 border-slate-600 border-dashed {{page.extra.bgcolor}}"
    >
      <a href="{{ page.permalink | safe }}" class="px-10 py-16">
        <p class="mix-blend-multiply font-semibold text-xl font-custom-sans antialiased">{{ page.title }}</p>
        <p class="font-light text-md font-custom-sans antialiased mt-4">
          {% if page.summary %} {{ page.summary | striptags }} {% endif %}
        </p>
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock content %}
