{% extends "base.html" %} {% block content %}

<link rel="stylesheet" href="{{ get_url(path='css/tw-prod.css') | safe }}" />

<div
  class="w-screen h-36 border-b-[1px] border-[#475577] shadow-[0_2px_16px_rgba(0,0,0,0.25)] sticky -top-36 bg-inherit z-10 flex items-center justify-center select-none rounded-md"
>
  <a href={{ get_url(path="/") }} class="text-slate-700 font-cursive font-bold antialiased text-7xl text-center sticky top-0.5">Allen Pocket</a>
</div>

<div class="container mx-auto max-w-5xl pt-24 pb-12 px-6 z-0">
  <div class="text-slate-700 font-custom-sans antialiased">
    <h1 class="text-6xl mix-blend-multiply text-center font-bold mb-16">{{ page.title | safe }}</h1>

    <section class="mb-16">
      <p class="text-2xl mix-blend-color-burn text-right my-2 pr-4">{{ page.date | safe }}</p>
      <hr class="hr-dot" />
    </section>

    <div id="markdown">{{ page.content | safe }}</div>
  </div>
</div>

{% endblock content %}
